:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  --light-grey: #D3D3D3;
  --midnight-blue: #191970;
  --orange: #FF5733;
}

.App-main {
  display: grid;
  grid-template-columns: 1fr minmax(1fr, 800px) 1fr;
}

.Header {
  background-color: var(--midnight-blue);
  color: var(--orange);
  display: flex;
  align-items: center;
  padding: 15px;
  grid-column: 1 / 4;
  font-size: 40px;
}

.personalDetails, .education {
  grid-column: 2 / 3;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px
}

label {
  padding: none;
}

input, textarea {
  padding: 7px;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
}

textarea {
  height: 150px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px;
}